<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <title>Contributors</title>
</head>
<body>
    <video autoplay muted loop>
        <source src="{% static 'cbg.mp4' %}" type="video/mp4">
    </video>
    <div class="container">
        <div class="profile-card">
            <div class="profile">
                <div class="profile-img">
                    <img src="./Emiya_kiritsugu.webp" alt="profile_picture">
                </div>
                <div class="profile-name">
                    <p class="full-name">Vinayak Mishra</p>
                    <p class="user-name">@vk2005917</p>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="profile">
                <div class="profile-img">
                    <img src="./images.jpeg" alt="profile_picture">
                </div>
                <div class="profile-name">
                    <p class="full-name">Vasisht Suresh</p>
                    <p class="user-name">@vacistt</p>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="profile">
                <div class="profile-img">
                    <img src="./Megumi_Fushiguro_29.webp" alt="profile_picture">
                </div>
                <div class="profile-name">
                    <p class="full-name">Zainab Farooq</p>
                    <p class="user-name">@zainab_z079</p>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="profile">
                <div class="profile-img">
                    <img src="./images (1).jpeg" alt="profile_picture">
                </div>
                <div class="profile-name">
                    <p class="full-name">Unnati</p>
                    <p class="user-name">@itss.unnati</p>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="profile">
                <div class="profile-img">
                    <img src="./profile-img.png" alt="profile_picture">
                </div>
                <div class="profile-name">
                    <p class="full-name">Umme Kulsum</p>
                    <p class="user-name">@ukmme_28</p>
                </div>
            </div>
        </div>
        <div class="profile-card">
            <div class="profile">
                <div class="profile-img">
                    <img src="./download.jpeg" alt="profile_picture">
                </div>
                <div class="profile-name">
                    <p class="full-name">Piyush Kumar</p>
                    <p class="user-name">@lone_rider.04</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>